.container {
  &--navigation {
    width: 150px;
    border-right: 1px solid #FFFFFF;

    &--logo {
      display: flex;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 100px;
    }
    
    &--contact-icons {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: calc(100vh - 420px);
      padding-bottom: 50px;

      img {
        padding: 5px;
      }
    }
  }

  &--general {
    &--background {
      &--navbar {
        width: calc(100vw - 150px);
        height: 100px;

        &--items {
          float: right;
          display: inline-flex;
          height: 100%;
          align-items: center;
          padding-right: 200px;

          &--item {
            padding: 25px;
  
            span {
              font-family: var(--font-regular);
              font-size: 25px;
              color: #FFFFFF;
              cursor: pointer;
            }

            span:hover {
              color: #d6d6d6;
            }
          }

          .active {
            span {
              color: #EFC862;
              padding-bottom: 15px;
              border-bottom: 2px solid #EFC862;
            }
          }
        }
      }

      &--text {
        &--logo {
          display: flex;
          width: 100%;
          height: 800px;
          align-items: center;

          img {
            padding-left: 20px;
            opacity: 0.3;
            width: 800px;
          }
        }
        
        &--name {
          h1 {
            position: absolute;
            left: 920px;
            top: 190px;
            color: white;
            font-family: var(--font-bold);
            font-size: 64px;
            line-height: 70px;
            z-index: 1;
          }
          
          h2 {
            position: absolute;
            left: 1120px;
            top: 380px;
            color: #A9A9A9;
            font-family: var(--font-regular);
            font-size: 20px;
            z-index: 1;
          }
          
        }
      }
    }
  }
}