.container {
  &--navigation {
    min-width: 150px;

    border-right: 1px solid #FFFFFF;

    &--logo {
      display: flex;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 100px;
    }
    
    &--contact-icons {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: calc(100vh - 420px);
      padding-bottom: 50px;

      img {
        padding: 5px;
      }
    }
  }

  &--general {
    &--background {
      &--navbar {
        width: calc(100vw - 150px);
        height: 100px;

        &--items {
          float: right;
          display: inline-flex;
          height: 100%;
          align-items: center;
          padding-right: 100px;

          &--item {
            padding: 25px;
  
            span {
              font-family: var(--font-regular);
              font-size: 25px;
              color: #FFFFFF;
              cursor: pointer;
            }

            span:hover {
              color: #d6d6d6;
            }

            img {
              padding-top: 10px;
              cursor: pointer;
            }

            .language {
              position: absolute;
              top: 35px;
              padding-left: 10px;
            }
          }

          @media only screen and (max-width: 1050px) {
            &--item {
              padding: 10px;
            }
          }

          .active {
            span {
              color: #EFC862;
              padding-bottom: 15px;
              border-bottom: 2px solid #EFC862;
            }
          }
        }
      }

      &--text {
        display: flex;
        justify-content: center;
        align-items: center;

        &--logo { 
          img {
            padding-right: 800px;
            opacity: 0.3;
            width: 800px;
          }
        }
        
        &--name {
          position: absolute;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-bottom: 300px;
          margin-left: 200px;
          
          h1 {
            color: white;
            font-family: var(--font-bold);
            font-size: 74px;
            line-height: 70px;
            z-index: 1;
          }
          
          h2 {
            line-height: 0px;
            padding-left: 200px;
            color: #A9A9A9;
            font-family: var(--font-regular);
            font-size: 30px;
            z-index: 1;
          }
        }
        
        @media only screen and (max-width: 1400px) {
          &--name {
            margin-left: 0px;

            h2 {
              padding-left: 0px;
            }
          }
        }

      }
    }
  }
}